<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<div class="container-fluid">
	
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<nav data-th-replace="~{/layouts/header :: navbar}"></nav>
	
	
		<div class="row">
			<!-- Barra Lateral -->
			<aside class="col-md-2 bg-light py-4">
				<h5>Enlaces Rápidos</h5>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="#">Biblioteca</a>
						<a href="https://virtual.unju.edu.ar/local/bidi/access.php"> <img
							src="/images/CID-Ingenieria.jpeg" alt="Imagen Biblioteca"
							class="img-fluid mt-2">
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Calendario
							Académico</a> <a
						href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">
							<img src="/images/calendar.png"
							alt="Imagen Calendario Académico" class="img-fluid mt-2">
					</a></li>
				</ul>
			</aside>

			<!-- Sección de Contenido Principal -->
			<main class="col-md-10 py-4">
				<section id="Acerca">
					<h2>Acerca de la Facultad</h2>
					<div class="card mb-4">
						<img src="/images/FI-UNJU.jpg" alt="Estructura de la Facultad"
							class="card-img-top img-fluid border border-4 border-dark rounded">
						<div class="card-body">
							<p class="card-text">La Universidad Nacional de Jujuy (UNJu)
								fue fundada en 1973 y es una institución pública ubicada en San
								Salvador de Jujuy. Ofrece una variedad de carreras en las
								facultades de Ciencias Agrarias, Ciencias Económicas,
								Humanidades y Ciencias Sociales, e Ingeniería. La UNJu se
								destaca por su compromiso con la educación superior y la
								investigación.</p>
						</div>
					</div>
				</section>

				<section class="Carreras" id="Carreras">
					<h3>Carreras disponibles en SAN SALVADOR DE JUJUY</h3>
					<br>
					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">AGRARIAS</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Alberdi 47</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Ingeniería Agronómica</td>
											<td>Ingeniero/a Agrónomo/a</td>
											<td>5 años</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td>Licenciatura en Bromatología</td>
											<td>Licenciado/a en Bromatología</td>
											<td>4 1/2 años</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td>Licenciatura en Bromatología</td>
											<td>Bromatólogo/a</td>
											<td>3 años</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td>Licenciatura en Ciencias Biológicas</td>
											<td>Licenciado/a en Ciencias Biológicas</td>
											<td>5 años</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">ECONOMICAS</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Alvear 843</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Contador Público</td>
											<td>Contador/a Público/a</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Administración</td>
											<td>Licenciado/a en Administración</td>
											<td>4 1/2 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Economía Política</td>
											<td>Licenciado/a en Economía Política</td>
											<td>4 años</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">HUMANIDADES</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Otero Nº 262</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td>Licenciatura en Antropologia</td>
											<td>Licenciado/a en Antropología</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Antropologia</td>
											<td>Auxiliar Técnico en Antropología</td>
											<td>3 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Ciencias de la Educación</td>
											<td>Licenciado/a en Ciencias de la Educación</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Profesorado en Ciencias de la Educación</td>
											<td>Profesor/a en Ciencias de la Educación</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Comunicación Social</td>
											<td>Licenciado/a en Comunicación Social</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Comunicación Social</td>
											<td>Técnico/a en Comunicación Social</td>
											<td>3 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Educación para la Salud</td>
											<td>Licenciado/a en Educación para la Salud</td>
											<td>5 1/2 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Educación para la Salud</td>
											<td>Educador/a Sanitario/a</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Profesorado en Educación para la Salud</td>
											<td>Profesor/a en Educación para la Salud</td>
											<td>4 1/2 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Letras</td>
											<td>Licenciado/a en Letras</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Profesorado en Letras</td>
											<td>Profesor/a en Letras</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Trabajo Social</td>
											<td>Licenciado/a en Trabajo Social</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Filosofía</td>
											<td>Licenciado/a en Filosofía</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Profesorado en Filosofía</td>
											<td>Profesor/a en Filosofía</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Historia</td>
											<td>Licenciado/a en Historia</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Profesorado en Historia</td>
											<td>Profesor/a en Historia</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Tecnicatura en Comunicación Digital Convergente</td>
											<td>Técnico/a en Comunicación Digital Convergente</td>
											<td>3 años</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">INGENIERIA</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Av. Italia
							esq. Martiarena</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td>Ingeniería Química</td>
											<td>Ingeniero/a Químico/a</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Ingeniería de Minas</td>
											<td>Ingeniero/a de Minas</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Ingeniería Industrial</td>
											<td>Ingeniero/a Industrial</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Ingeniería Informática</td>
											<td>Ingeniero/a Informático/a</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Sistemas</td>
											<td>Licenciado/a en Sistemas</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Tecnología de los Alimentos</td>
											<td>Licenciado/a en Tecnología de los Alimentos</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Ciencias Geológicas</td>
											<td>Licenciado/a en Ciencias Geológicas</td>
											<td>5 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Analista Programador Universitario</td>
											<td>Analista Programador/a Universitario/a</td>
											<td>3 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Tecnicatura Universitaria en Perforaciones</td>
											<td>Técnico/a Universitario/a en Perforaciones</td>
											<td>3 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Tecnicatura Universitaria En Diseño Integral De
												Videojuegos</td>
											<td>Técnico/a Universitario/a en Diseño Integral de
												Videojuegos</td>
											<td>3 años</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">CIENCIAS JURIDICAS</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Av. Bolivia
							1239</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td>Licenciatura en Ciencia Política</td>
											<td>Licenciado/a en Ciencia Política</td>
											<td>4 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Abogacía</td>
											<td>Abogado/a</td>
											<td>5 años</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>

					<div class="texto">
						<div class="localidad">
							<div class="nomLocalidad">CIENCIAS DE LA SALUD</div>
						</div>
						<div class="direccion">San Salvador de Jujuy - Alvear 1153
							2ºPiso</div>
						<div class="resumen">
							<div class="tabla">
								<table width="500" border="0">
									<thead>
										<tr>
											<td>Carrera</td>
											<td>Título</td>
											<td>Duración</td>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td>Enfermería Universitaria</td>
											<td>Enfermero/a Universitario/a</td>
											<td>3 años</td>
										</tr>
									</tbody>

									<tbody>
										<tr>
											<td>Licenciatura en Enfermeria</td>
											<td>Licenciado/a en Enfermería</td>
											<td></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>

				</section>

				<section id="Noticias">
					<h2>Noticias</h2>
					<div id="carouselExampleDark" class="carousel carousel-dark slide"
						style="max-width: 50%; margin: auto;">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleDark"
								data-bs-slide-to="0" class="active" aria-current="true"
								aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleDark"
								data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleDark"
								data-bs-slide-to="2" aria-label="Slide 3"></button>
							<button type="button" data-bs-target="#carouselExampleDark"
								data-bs-slide-to="3" aria-label="Slide 4"></button>
							<button type="button" data-bs-target="#carouselExampleDark"
								data-bs-slide-to="4" aria-label="Slide 5"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active" data-bs-interval="10000">
								<a
									href="https://www.fi.unju.edu.ar/noticias-generales/4576-52%C2%B0-aniversario-de-la-facultad-de-ingenieria-de-la-unju.html">
									<img src="/images/News-1.jpg" class="d-block w-100" alt="...">
								</a>
								<div
									class="carousel-caption d-none d-md-block bg-dark text-white rounded p-2">
									<h5>Aniversario 52°</h5>
									<p>Nuestra Facultad cumple sus 52 años, click a la nota
										para ver más...</p>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="2000">
								<a
									href="https://www.fi.unju.edu.ar/noticias-generales/4564-2-edicion-del-concurso-nacional-mejores-tesis-de-ingenieria.html">
									<img src="/images/News-2.jpg" class="d-block w-100" alt="...">
								</a>
								<div
									class="carousel-caption d-none d-md-block bg-dark text-white rounded p-2">
									<h5>2do Concurso de Tesís</h5>
									<p>Se celebrará el 2do concurso de tesis de Ingeniería,
										click en la nota para ver más...</p>
								</div>
							</div>
							<div class="carousel-item">
								<a
									href="https://www.fi.unju.edu.ar/noticias-generales/4570-la-fi-unju-presente-en-el-1er-foro-de-industria-metal-mecanica-y-afines-de-los-valles-de-perico.html">
									<img src="/images/News-3.jpg" class="d-block w-100" alt="...">
								</a>
								<div
									class="carousel-caption d-none d-md-block bg-dark text-white rounded p-2">
									<h5>1er Foro de Industria Metal, Mecánica y afines de los
										valles de Périco</h5>
									<p>Nuestra Facultad estuvo presente en el 1er foro de dicho
										tema, click en la nota para ver más...</p>
								</div>
							</div>
							<div class="carousel-item">
								<a
									href="https://www.fi.unju.edu.ar/noticias-generales/4513-i-jornadas-sobre-exploracion-y-aprovechamiento-de-energia-geotermica-en-el-noa.html">
									<img src="/images/News-4.jpg" class="d-block w-100" alt="...">
								</a>
								<div
									class="carousel-caption d-none d-md-block bg-dark text-white rounded p-2">
									<h5>1ra Jornada de Exploración y aprovechamiento de
										energía Geotérmica</h5>
									<p>Se abre paso a la 1ra Jornada de este beneficioso tema,
										click en la nota para ver más...</p>
								</div>
							</div>
							<div class="carousel-item">
								<a
									href="https://www.fi.unju.edu.ar/noticias-generales/4503-presentacion-de-libros-de-catedra-abierta-tecnologia-discursiva-y-arquitectura-textual-y-ponencia-de-contenidos.html">
									<img src="/images/News-5.jpg" class="d-block w-100" alt="...">
								</a>
								<div
									class="carousel-caption d-none d-md-block bg-dark text-white rounded p-2">
									<h5>Presentación de Libros de Cátedra Abierta</h5>
									<p>Este Jueves 4 de Abril, damos inicio a la presentación
										de libros de "Tecnología Discursiva y Arquitectura Textual y
										Ponencia de Contenidos"... click en la nota para ver más...</p>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleDark" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleDark" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</section>

			</main>
		</div>
	</div>
	
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<script type="text/javascript"
		data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>