<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<footer class="bg-dark text-white text-center py-3" id="Contacto" th:fragment="footer">
		<p>Dirección: Av. Ejemplo 123, San Salvador de Jujuy, Jujuy,
			Argentina</p>
		<p>Teléfono: +54 388 123-4567 | Correo:
			contacto@facultad.unju.edu.ar</p>
		<div>
			<a href="https://www.facebook.com/fiunju/" class="text-white mx-2">Facebook</a> <a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A"
				class="text-white mx-2">Youtube</a> <a href="https://www.instagram.com/fiunju/"
				class="text-white mx-2">Instagram</a>
		</div>
		<p>&copy; 2024 Facultad de Ejemplo. Todos los derechos reservados.</p>
	</footer>
</body>
</html>